


<div class="jumbotron bg-dark">
  <h1 class="text-center display-4" style="color:white;">HamroChautari</h1>
  <p class="lead text-center" style="color:white;">Let the facts and figures decide!</p>
</div>
<div class="container">
<div class="content-section">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Log In</legend>
      {{ form }}
    </fieldset>
    <button type="submit" class="btn btn-outline-info">Login</button>
  </form>
    <small class="text-muted">
      Not registered yet?<a class="ml-2" href="{% url 'register' %}">Sign up</a>
    </small>
  </div>
</div>
</div>

