{%extends 'users/authlayout.html'%}
{% load crispy_forms_tags %}
{% block form_content %}
<form method="POST">
  {% csrf_token %}
  <fieldset class="form-group" >
    <center>
      {{ form.username|as_crispy_field}}
      {{form.password|as_crispy_field}}
      <p data-v-7f9ae05b=""><a data-v-7f9ae05b="" href="#" class="is-size-7 has-text-link">Forgot password?</a></p>
    </center>

  </fieldset>
  <p data-v-7f9ae05b="" class="has-text-centered margin-top-20-px"><button data-v-7f9ae05b="" type="submit" class="button is-rounded">Login</button></p>
</form>
{%endblock%}
{% block amalgam%}
Don't have an
<b data-v-7f9ae05b="">Amalgam</b> account?
<br data-v-7f9ae05b=""> <span data-v-7f9ae05b="" class="has-text-primary"><a href="{% url 'register' %}" style="color:cornflowerblue;">Register here</a></span></a>
{%endblock %}
