
{%extends 'Books/layout.html' %}
{% block nav %}
<a href="{%url 'home'%}">Home</a>
<a href="{%url 'index'%}">Search</a>
<a href="{%url 'profile'%}"  class="active">Profile</a>
<a href="{%url 'add'%}">Add</a>
{%endblock %}
{%load crispy_forms_tags%}
{%block content %}

<h2 style="text-align:center">Hello,{{request.user.username}}!</h2>
 <div class="card">
   <img src="{{user.profile.image.url}}" height="200px" width="200px" />
   <h3>{{request.user.first_name}} {{request.user.last_name}}</h3>
    <p>{{request.user.email}}</p>
   {%if request.user.profile.bio%}
   <p class="title">{{request.user.profile.bio}}</p>
   {%endif%}
   <p>
     <a href="{% url 'update'%}"><button>Update</button></a></button></p>
 </div>
 <div class="bookshistory">
     <h3>Book added for sell</h3>
     <img class="image" src="/media/profile_pics/18144590._UY2404_SS2404_.jpg" alt="Sandwich" height="300" width="300">
     <h3>Jojo Moyes (Author)</h3>
     <p>Romantic, poignant and endearingly honest throughout, Me Before You is the bittersweet tale of an unusual but powerful love.
        Often funny, sometimes bitterly sad, it won't leave you the same person you were when you began.</p>
     <p>Price: Rs 500</p>
   </div>
{% endblock %}
