{% extends 'Books/layout.html '%}
{% block nav %}
<a href="{%url 'home'%}" >Home</a>
<a href="{%url 'index'%}">Search</a>
<a href="">Profile</a>
<a href="{%url 'add'%}"  class="active">Add</a>
{%endblock %}
{%load crispy_forms_tags%}
{%block content %}
<div id="__layout">
  <div data-v-7f9ae05b="">
    <section data-v-7f9ae05b="" class="hero is-fullheight">
      <div data-v-7f9ae05b="" class="hero-body">
        <div data-v-7f9ae05b="" class="container">
          <div data-v-7f9ae05b="" class="form account has-text-left">
            <div data-v-7f9ae05b="" class="naya-logo margin-bottom-50-px has-text-centered"><a href="#" class="nuxt-link-active"><span class="logo">Amalgam</span></a></div>
            <div data-v-7f9ae05b="" class="account-input">
              <form action='{% url 'add' %}' enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <fieldset class="form-group">
                  <legend class="border-bottom mb-4">Add books</legend>
                  {{form.isbn|as_crispy_field}}

                  {{form.book_name|as_crispy_field}}

                  {{form.original_price|as_crispy_field}}

                  {{form.offered_price|as_crispy_field}}

                  {{form.description|as_crispy_field}}

                  {{form.category|as_crispy_field}}

                  {{form.image|as_crispy_field}}

                </fieldset>
                  <p data-v-7f9ae05b="" class="has-text-centered margin-top-20-px"><button data-v-7f9ae05b="" type="submit" class="button is-rounded">Add</button></p>

              </form>
            </div>
            <div data-v-7f9ae05b="">
              <!---->

            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
{%endblock%}
