{%extends 'Books/layout.html' %}
{% block nav %}
<a href="{%url 'home'%}" class="active">Home</a>
<a href="{%url 'index'%}">Search</a>
<a href="{%url 'update'%}">Profile</a>
<a href="{%url 'add'%}">Add</a>
{%endblock %}
{%block content %}
<div id="__nuxt">
  <div id="__layout">
    <div id="naya-content" class="margin-top-0-px-imp" data-v-f1f17556="">
      <div class="hero is-white is-fullheight-with-navbar border-radius-3-px" data-v-f1f17556="">
        <div class="hero-body border-radius-3-px has-text-centered" data-v-f1f17556="">
          <div class="container" data-v-f1f17556="">
            <div class="columns is-gapless is-mobile" data-v-f1f17556="">
              <div class="column" data-v-f1f17556=""></div>
              <div class="column is-four-fifths-mobile is-four-fifths-tablet" data-v-f1f17556="">
                <h1 class="title has-text-weight-bold is-size-1 is-size-2-mobile" data-v-f1f17556="">
                  Amalgam.
                </h1>
                <div class="subtitle columns" data-v-f1f17556="">
                  <div class="column is-hidden-mobile" data-v-f1f17556=""></div>
                  <div class="column is-7" data-v-f1f17556="">
                    <h2 class="has-text-dark is-size-5 is-size-6-mobile" data-v-f1f17556="">
                      Welcome to <b data-v-f1f17556="">Amalgam</b> a wonderful place of buying and selling books.
                    </h2>
                  </div>
                  <div class="column is-hidden-mobile" data-v-f1f17556=""></div>
                </div>
              </div>
              <div class="column" data-v-f1f17556=""></div>
            </div>
          </div>
        </div>
        <div class="hero-foot" data-v-f1f17556="">
          <div class="is-hidden-mobile mouse dark z-index-10" data-v-f1f17556=""><span data-v-f1f17556=""></span></div>
        </div>
      </div>

      <section class="columns is-mobile margin-top-100-px" data-v-f1f17556="">
              <div class="column is-8" data-v-f1f17556=""><a href="#" data-v-f1f17556="" class=""><b class="is-size-5" data-v-f1f17556="">Amalgam</b></a> <br data-v-f1f17556=""><b data-v-f1f17556="">©</b> Quantum Hack 2020
                <a href="https://github.com/Kuu44/Project-Amalgam"><br data-v-f1f17556="">By Team Amalgam
                </a>
              </div>
              <div class="column has-text-right" data-v-f1f17556="">
                <a href="https://github.com/Kuu44" data-v-f1f17556="" class="">
                  <br data-v-f1f17556="">
                  <b class="is-size-7" data-v-f1f17556="">Kushal</b>
                </a>
                <a href="https://github.com/kritinyoupane" data-v-f1f17556="" class="">
                  <br data-v-f1f17556="">
                  <b class="is-size-7" data-v-f1f17556="">Kriti</b>
                </a>
                <a href="https://github.com/Bishadkoju" data-v-f1f17556="" class="">
                  <br data-v-f1f17556="">
                  <b class="is-size-7" data-v-f1f17556="">Bishad</b>
                </a>
                <a href="https://github.com/gjyakhwa1" data-v-f1f17556="" class="">
                  <br data-v-f1f17556="">
                  <b class="is-size-7" data-v-f1f17556="">Gaurav</b>
                </a>
              </div>
            </section>
    </div>
  </div>
</div>
{% endblock %}
