{% extends 'Books/layout.html '%}
{% block content %}
<div class="content" id="books">
  <h4>Novel</h4>
  {% for book in books%}
  {% ifequal book.category "1"%}
  <div class="romantic_genre">
    <img src="{{book.image.url}}" alt="Sandwich" height="300" width="300" style="width:100%">
    <h3><a href="{% url 'show_book' book.id %}">{{book.book_name}}</a></h3>
    <p>{{book.description}}</p>
  </div>
  {%endifequal%}
  {% endfor %}
  <h4> Course</h4>
  {% for book in books%}
  {% ifequal book.category "2"%}
  <div class="thriller_genre">
    <img src="{{book.image.url}}" alt="Sandwich" height="300" width="300" style="width:100%">
    <h3><a href="{% url 'show_book' book.id %}">{{book.book_name}}</a></h3>
    <p>{{book.description}}</p>
  </div>
  {%endifequal%}
  {% endfor %}

  {% endblock %}
