<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/Bookselling.css'%}" />
    <link rel="stylesheet" href="{%static 'css/style.css'%}" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="topnav">
      <a href="{%url 'home'%}">Home</a>
      <a href="{%url 'index'%}" class="active">Search</a>
      <a href="{%url 'profile'%}">Profile</a>
      <a href="{%url 'add'%}">Add</a>

      <div class="search-container">
        <form action="{% url 'index' %}" method="post">
          {% csrf_token %}
          <input
            type="text"
            placeholder="Search.."
            name="search"
            list="books"
          />
          <datalist id="books">
            {% for book in books %}
            <option value="{{book.book_name}}">{% endfor %}</option>
          </datalist>

          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>
    <br />
    <br />
    <br />
    <h2 style="text-align: center"></h2>
    <div class="card">
      <img
        src="{{book.image.url}}"
        alt="notebook"
        height="200px"
        weight="200px"
      />
      <h3>{{book.book_name}}</h3>
      <div class="blue_box">
        <p>Offered Price:{{book.offered_price}}</p>
        <p>Original Price:{{book.original_price}}</p>
        <p>Description:{{book.description}}</p>
        <p>Added by:{{book.user}}</p>
      </div>
      <br />
    </div>
    <div class="review" width="50%">
      {% if comments %}
      <h3>Comments</h3>
      {% for comment in comments %}
      <div class="blue_box">
        <p>{{comment.content}}</p>
        <p>{{comment.user.username}} at {{comment.date_time}}</p>
      </div>
      {%endfor%} {%endif%}
      <form method="post" action="{% url 'show_book' book.id%}">
        {%csrf_token %}
        <label for="phone">
          {{commentform.content}} <input type="submit" /><br /><br
        /></label>
      </form>
    </div>
  </body>
</html>
