body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
.topnav {
    overflow: hidden;
    background-color: #e9e9e9c0;
  }
  
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
.topnav a.active {
    background-color: #f37521;
    color: white;
  }
.dropdown {
    float : right;
  }
  
.dropdown-content {
    display: none;
    background-color:#e9e9e9c0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
.dropdown:hover .dropdown-content {
    display: block;
  }
  
.arrow {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    margin: 0 10px -10px ;
    padding: 5px; 
  }
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }  

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    float :center;
  }
  
  .title {
    color: grey;
    font-size: 14px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

  .romantic_genre{
    width: 300px;
    border: 10px solid whitesmoke;
    padding: 20px 10px 0 10px;
    margin: 10px;
    display: inline-block;
    text-align: left;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia;
}
